.wapper__login {
    width: 500px;
    min-height: 800px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    &__form {
        padding: 65px 55px 54px;
    }
}

.page_login {
    background-image: url("../assets/images/bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        padding: 15px;
    }
}
