.pageforgotpass {
    background: url("../../assets/imgs/bg-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    .container {
        padding: 15px;
        .pageforgotpass__form {
            position: relative;
            left: 50%;
            border-radius: 10px;
            transform: translateX(-50%);
            background: #fff;
            max-width: 500px;
            min-height: 200px;
            margin-top: 40px;
            padding-bottom: 40px;
            .pageforgotpass__form__wapperformitem {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
                .wapper__formitem {
                    margin-top: 10px;
                    input {
                        width: 340px !important;
                    }
                }
            }
            .pageforgotpass__form__button{
                margin-top: 20px;
               display: flex;
               justify-content: center;
            }
        }
    }
}
