.bgbtn{position:relative;border-radius:50px;border:none;background:#00dbde;background:linear-gradient(to right, rgb(0, 219, 222) 0%, rgb(252, 0, 255) 100%, rgb(252, 0, 255) 100%);opacity:1;z-index:1}.bgbtn::before{position:absolute;content:"";border-radius:50px;width:100%;height:100%;background:#fc00ff;background:linear-gradient(to right, rgb(252, 0, 255) 0%, rgb(0, 219, 222) 100%);z-index:1;-webkit-transform-origin:left;transform-origin:left;transition:opacity .3s;-webkit-transform:scaleX(0);transform:scaleX(0);opacity:0}.bgbtn:hover::before{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:left;transform-origin:left;transition:opacity .3s linear;opacity:1}.bgbtn__btn{border-radius:50px;border:none;position:absolute;top:0;background:transparent none repeat 0 0 / auto auto padding-box border-box scroll;background:initial;z-index:2}
::-webkit-input-placeholder{color:#767676;font-family:Poppins-Medium;font-size:14px}:-ms-input-placeholder{color:#767676;font-family:Poppins-Medium;font-size:14px}::placeholder{color:#767676;font-family:Poppins-Medium;font-size:14px}:focus{outline:none}
.link:hover{color:#a64bf4;cursor:pointer}
.wapper__formitem{position:relative;width:390px;border-bottom:1px solid #d9d9d9}.wapper__formitem__input{display:block}.wapper__formitem .input:focus+.wapper__formitem__focus::before{width:100%}.wapper__formitem .input:focus+.wapper__formitem__focus .icon svg{fill:#a64bf4}.wapper__formitem__focus{position:absolute;display:block;width:100%;height:100%;top:0;left:0;pointer-events:none}.wapper__formitem__focus::before{content:"";display:block;position:absolute;bottom:-2px;left:0;width:0;height:1px;background:#7f7f7f;transition:all .4s;box-sizing:inherit}.wapper__formitem__focus .icon{padding-left:13px;padding-top:3px;position:absolute;bottom:50%;top:50%}
.wapper__orsignup{width:390px;text-align:center}.wapper__orsignup__text{padding:0 0 20px}.wapper__orsignup__icon{display:flex;align-items:center;justify-content:center}.wapper__orsignup__icon__fb{margin:5px;width:48px;cursor:pointer}.wapper__orsignup__icon__fb:hover{fill:"#red"}.wapper__orsignup__icon__fb:hover{fill:"#red"}.wapper__orsignup__icon__gg{width:48px;margin:5px;cursor:pointer}.wapper__orsignup__icon__gg:hover{fill:"#000"}.wapper__orsignup__icon__email{width:48px;margin:5px;cursor:pointer}.wapper__orsignup__icon__email:hover{fill:"#000"}
.form__login{width:100%;display:flex;flex-direction:column;align-items:center}.form__login__username{margin-bottom:23px}.form__login__password__forgot{padding:8px 0 31px;text-align:right}.form__login__button{display:flex;justify-content:center}.form__login__control{width:390px}.form__login__signup{padding-top:54px}.form__login__sign_up{padding-top:155px;text-align:center}
@font-face {
    font-family: 'Poppins-Regular';
    src:
      url(../../387f9003f984ef1cec60.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  
  @font-face {
    font-family: 'Poppins-Bold';
    src:
      url(../../a6b628bdef91e927b77c.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
  }
  
  @font-face {
    font-family: 'Poppins-Medium';
    src:
      url(../../7e588a26bdac2428f240.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
  }
.wapper__login{width:500px;min-height:800px;border-radius:10px;margin:0 auto;background-color:#fff}.wapper__login__form{padding:65px 55px 54px}.page_login{background-image:url(../../dab965cc9c13ebac22b4.jpg);background-repeat:no-repeat;background-size:cover}.page_login .container{padding:15px}

/*# sourceMappingURL=main.f15f139f.css.map*/