.wapper__orsignup {
    width: 390px;
    text-align: center;
    &__text {
        padding: 0 0 20px;
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        &__fb {
            margin: 5px;
            width: 48px;
            cursor: pointer;
            &:hover {
                fill: "#red";
            }
            &:hover {
                fill: "#red";
            }
            .iconFb {
                font-size: 1px;
                border: 0;
                background: #fff;
                cursor: pointer;
            }
        }
        &__gg {
            width: 48px;
            margin: 5px;
            cursor: pointer;
            position: relative;
            bottom: 24px;
            &:hover {
                fill: "#000";
            }
            button {
                position: absolute;
                top: 0;
                left: 0;
                border: 0;
                background: #fff;
                display: none;
                border-radius: 60px !important;
                span {
                    display: none;
                }
                div {
                    opacity: 0;
                }
            }
            .icon {
                position: absolute;
                pointer-events: none;
                left: 1px;
                top: -1px;
            }
        }
        &__email {
            width: 48px;
            margin: 5px;
            cursor: pointer;
            &:hover {
                fill: "#000";
            }
        }
    }
}
